body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('/static/images/8553938.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  min-height: 100vh;
 
}
header, main {
  text-align: center;
  margin-bottom: 30px;
  max-width: 800px;
  
}

h1, h2 {
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

#car-display {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 420px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#car-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.arrow-btn {
  pointer-events: auto;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.left-arrow {
  margin-left: 20px;
}

.right-arrow {
  margin-right: 20px;
}

#colores {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#colores:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#color-options {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#color-picker {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  background: linear-gradient(to bottom right, #ff0000, #00ff00, #0000ff);
  outline: none;
}

#color-picker:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#color-picker:focus {
  box-shadow: 0 0 0 3px rgba(61, 138, 255, 0.4);
}

#color-picker::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 100;
}

#color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}


#guardar-auto {
  margin-top: 30px;
  padding: 30px;
  border-top: 2px solid #333;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #877e7e;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#guardarAutoForm input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#guardarAutoForm button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#guardarAutoForm button:hover {
  background-color: #555;
}

/* link de regreso pag anterior  */

    .navbar-link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #007bff;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #e7f1ff; /* Color de fondo suave */
        transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    .navbar-link:hover {
        background-color: #f0f0f0;
        color: #0056b3;
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
    }

    .navbar-link:active {
        transform: translateY(1px) scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-link i {
        margin-right: 5px;
    }

    .animated {
        animation: pulse 0.5s ease-in-out infinite; /* Animación continua */
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }