body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/garage.jpg');
    background-size: cover;
    background-position: center;
}