body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/23624.jpg');
}

main {
    border: 2px solid black;
    padding: 40px;
    border-radius: 3%;
    background-color: rgb(192, 192, 192);
    animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.10);
    }
}

#login, #register {
    margin-bottom: 20px;
}

.nav_botones {
    display: block;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    color: black;
}

#footer_marca {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

#footer_marca:hover {
    background-color: rgba(77, 5, 5, 0.9);
    padding: 15px;
}

#footer_marca a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#footer_marca a:hover {
    color: #ccc;
}